<div class="pagination">
  <% if @items.prev_page %>
    <%= link_to "First", items_path(page: 1), class: "pagination-button" %>
    <%= link_to "Previous", items_path(page: @items.prev_page), class: "pagination-button" %>
  <% end %>

  <span class="current-page">
    Page <%= @items.current_page %> of <%= @items.total_pages %>
  </span>

  <% if @items.next_page %>
    <%= link_to "Next", items_path(page: @items.next_page), class: "pagination-button" %>
    <%= link_to "Last", items_path(page: @items.total_pages), class: "pagination-button" %>
  <% end %>
</div>