<h1><%= @username%>'s  Profile</h1>

<h2><strong>Your Listed Items:</strong></h2>
<% if @listed_items.empty? %>
  <p>No items listed yet.</p>
<% else %>
<table class="profile-table">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Remaining Quantity</th>
      <th>Purchased By</th>
    </tr>
  </thead>
  <tbody>
    <% @listed_items.each do |item| %>
      <tr>
        <td class="wrapped-item"><%= item.name %></td>
        <td><%= item.price %></td>
        <td class="wrapped-description"><%= item.description %></td>
        <td><%= item.remaining_quantity %></td>
        <td>
        <% if item.orders.any? %>
            <ul style="list-style-type: none; padding-left: 0;">
              <% item.orders.each do |order| %>
                <li><%= order.user.username %> (Qty: <%= order.quantity %>)</li>
              <% end %>
            </ul>
          <% else %>
            No purchases yet
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<h2><strong>Your Order History:</strong></h2>
<% if @orders.empty? %>
  <p>No orders yet.</p>
<% else %>
<table class="profile-table">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Item Price</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="wrapped-item"><%= order.item.name %></td>
        <td><%= order.quantity %></td>
        <td><%= order.item.price %></td>
        <td><%= order.quantity * order.item.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>