<!DOCTYPE html>
<html>
  <head>
    <title>TheCostcoGuys</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless current_page?(login_path) || current_page?(register_path) %>
      <div class="nav-links">
        <% if @loggedin %>
          <%= link_to "Log Out", "/logout" %> <%= link_to "Profile", "/profile" %>
        <% else %>
          <%= link_to "Log In", "/login" %> <%= link_to "Register", "/register" %>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
